<div class="ui-toast ui-toast--{{ config.type || 'info' }}">
    <div class="ui-toast__icon">
        <mat-icon>{{ getIcon() }}</mat-icon>
    </div>

    <div class="ui-toast__body">
        @if (config.title) {
        <div class="ui-toast__title">{{ config.title }}</div>
        }
        <div class="ui-toast__message">{{ config.message }}</div>
    </div>

    @if (config.showClose !== false) {
    <button class="ui-toast__close" [attr.aria-label]="config.i18n?.closeAriaLabel || 'Close notification'"
        (click)="dismiss()">
        <mat-icon>close</mat-icon>
    </button>
    }

    <div class="ui-toast__progress" *ngIf="config.duration && config.duration > 0">
        <div class="ui-toast__progress-bar" [style.animation-duration.ms]="config.duration"></div>
    </div>
</div>