<div class="ui-expansion-panel__header" (click)="toggle()" role="button" [attr.aria-expanded]="isExpanded()"
    [tabindex]="disabled ? -1 : 0">
    <div class="ui-expansion-panel__header-content">
        @if (icon) {
        <span class="ui-expansion-panel__icon">{{ icon }}</span>
        }
        <div class="ui-expansion-panel__title-wrapper">
            <span class="ui-expansion-panel__title">{{ title }}</span>
            @if (description) {
            <span class="ui-expansion-panel__description">{{ description }}</span>
            }
        </div>
    </div>

    <div class="ui-expansion-panel__toggle">
        <mat-icon class="ui-expansion-panel__toggle-icon">{{ isExpanded() ? 'expand_less' : 'expand_more' }}</mat-icon>
    </div>
</div>

<div class="ui-expansion-panel__body" [style.grid-template-rows]="isExpanded() ? '1fr' : '0fr'">
    <div class="ui-expansion-panel__content">
        <ng-content></ng-content>
    </div>
</div>