<app-header (toggleSidebarFn)="toggleSidebar()"></app-header>

<app-settings-panel></app-settings-panel>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="sidenavOpened" class="sidenav"
        [class.collapsed]="sidebarCollapsed && !sidebarHovered && !isMobile">
        <app-sidebar #sidebar (hoverChange)="onSidebarHover($event)"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="content" [class.collapsed]="sidebarCollapsed && !sidebarHovered && !isMobile">
        <div class="main-content-wrapper">
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>