<mat-form-field [appearance]="effectiveAppearance() === 'filled' ? 'fill' : 'outline'"
    [subscriptSizing]="hideSubscript() ? 'fixed' : 'dynamic'" [class.ui-form-field-no-margin]="noMargin()"
    class="ui-form-field-wrapper">
    <!-- LABEL (Material handles floating logic automatically) -->
    @if (label()) {
    <mat-label>{{ label() }}</mat-label>
    }

    <!-- PREFIX -->
    <div matPrefix class="ui-form-field__prefix-wrapper">
        <ng-content select="[uiPrefix]"></ng-content>
    </div>

    <!-- CONTENT (Input, Select, etc.) -->
    <div class="ui-form-field__control-wrapper">
        <ng-content></ng-content>
    </div>

    <!-- SUFFIX -->
    <div matSuffix class="ui-form-field__suffix-wrapper">
        <ng-content select="[uiSuffix]"></ng-content>
    </div>

    <!-- HINT -->
    @if (hint() && !state().invalid) {
    <mat-hint>{{ hint() }}</mat-hint>
    }

    <!-- ERROR -->
    @if (state().invalid) {
    <mat-error>
        <ng-content select="[uiError]"></ng-content>
        @if (error()) {
        <span>{{ error() }}</span>
        }
    </mat-error>
    }
</mat-form-field>