<nav class="ui-breadcrumbs" [attr.aria-label]="i18n?.ariaLabel || 'Breadcrumbs'">
    <ol class="ui-breadcrumbs">
        @for (item of items; track item.label; let last = $last) {
        <li class="ui-breadcrumb-item">
            @if (!last && item.link) {
            <a class="ui-breadcrumb-item__link" (click)="onItemClick(item)">
                @if (item.icon) {
                <mat-icon>{{ item.icon }}</mat-icon>
                }
                <span>{{ item.label }}</span>
            </a>
            } @else {
            <span class="ui-breadcrumb-item__label" [class.ui-breadcrumb-item__label--current]="last">
                @if (item.icon) {
                <mat-icon>{{ item.icon }}</mat-icon>
                }
                <span>{{ item.label }}</span>
            </span>
            }

            @if (!last) {
            <span class="ui-breadcrumb-item__separator" aria-hidden="true">
                @switch (separator) {
                @case ('chevron') { <mat-icon>chevron_right</mat-icon> }
                @case ('arrow') { <mat-icon>arrow_forward</mat-icon> }
                @case ('slash') { <span>/</span> }
                @default { <span>{{ separator }}</span> }
                }
            </span>
            }
        </li>
        }
    </ol>
</nav>