/* Density Tokens Override */

body.density-compact {
    --ui-button-height-sm: 24px;
    --ui-button-height-md: 32px;
    --ui-button-height-lg: 40px;
    --ui-button-height-xl: 48px;

    --ui-input-height-sm: 24px;
    --ui-input-height-md: 32px;
    --ui-input-height-lg: 40px;

    --ui-space-md: 12px;
    --ui-space-lg: 16px;
    --ui-space-xl: 24px;
}

body.density-comfortable {
    --ui-button-height-sm: 40px;
    --ui-button-height-md: 48px;
    --ui-button-height-lg: 56px;
    --ui-button-height-xl: 64px;

    --ui-input-height-sm: 40px;
    --ui-input-height-md: 48px;
    --ui-input-height-lg: 56px;

    --ui-space-md: 20px;
    --ui-space-lg: 32px;
    --ui-space-xl: 40px;
}