<mat-form-field [appearance]="variant" class="ui-select__field" floatLabel="always">
    <mat-label>{{ label }}</mat-label>

    <mat-select [id]="id" [attr.name]="name || id" [disabled]="disabled" [(value)]="value"
        (selectionChange)="handleChange($event.value)" [placeholder]="placeholder" [required]="required">

        <mat-select-trigger>
            @if (selectedOption) {
            <div class="ui-select__trigger-wrapper">
                @if (selectedOption.image) {
                <img [src]="selectedOption.image" class="ui-select__option-image" [alt]="selectedOption.label">
                } @else if (selectedOption.icon) {
                <mat-icon class="ui-select__icon">{{ selectedOption.icon }}</mat-icon>
                }
                <span class="ui-select__option-label">{{ selectedOption.label }}</span>
            </div>
            }
        </mat-select-trigger>

        @for (opt of options; track opt.value) {
        <mat-option [value]="opt.value" class="ui-select__option">
            @if (opt.image) {
            <img [src]="opt.image" class="ui-select__option-image" [alt]="opt.label">
            } @else if (opt.icon) {
            <mat-icon class="ui-select__icon">{{ opt.icon }}</mat-icon>
            }
            <span class="ui-select__option-label">{{ opt.label }}</span>
        </mat-option>
        }

    </mat-select>
    @if (error) {
    <mat-error>{{ error }}</mat-error>
    }
    @if (hint) {
    <mat-hint>{{ hint }}</mat-hint>
    }
</mat-form-field>