<div class="ui-datepicker">
    <!-- Input Trigger -->
    <ui-form-field [label]="label">
        <mat-icon uiPrefix (click)="toggleOverlay()" style="cursor: pointer;">calendar_today</mat-icon>
        <ui-input [placeholder]="placeholder || i18n.placeholder || ''" [readonly]="true" [value]="displayValue()"
            (click)="toggleOverlay()" [disabled]="disabled" cdkOverlayOrigin #trigger="cdkOverlayOrigin"></ui-input>
    </ui-form-field>

    <!-- Calendar Overlay -->
    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen()"
        [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        (backdropClick)="isOpen.set(false)" (detach)="isOpen.set(false)">
        <div class="ui-datepicker__overlay-container">
            <ui-calendar [selectedDate]="value()" [locale]="locale" [i18n]="i18n"
                (dateSelect)="onSelect($event)"></ui-calendar>
        </div>
    </ng-template>
</div>