@use 'styles/reboot';
@use 'styles/themes';
@use 'styles/colors';
@use 'styles/grid';
@use 'styles/helpers';
@use 'styles/plugins';
@use 'styles/custom';



// body, html {
//   height: 100%;
//   margin: 0;
//   display: flex;
//   justify-content: center; /* centra horizontalmente */
//   align-items: center;     /* centra verticalmente */
//   background-color: #f5f5f5; /* color de fondo opcional */
// }

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f4f6f8;
  /* Ensure background color covers whole page */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}