<div class="ui-tab-group__header">
    <div class="ui-tab-group__nav">
        @for (tab of tabs; track $index) {
        <button type="button" class="ui-tab-group__tab-btn"
            [class.ui-tab-group__tab-btn--active]="activeTabIndex() === $index"
            [class.ui-tab-group__tab-btn--disabled]="tab.disabled" (click)="selectTab($index)"
            [attr.aria-selected]="activeTabIndex() === $index" role="tab">
            @if (tab.icon) {
            <span class="ui-tab-group__tab-icon">{{ tab.icon }}</span>
            }
            <span class="ui-tab-group__tab-label">{{ tab.label }}</span>
        </button>
        }

        <!-- Animated Indicator Placeholder -->
        <div class="ui-tab-group__indicator" [style.width.%]="100 / (tabs.length || 1)"
            [style.transform]="'translateX(' + (activeTabIndex() * 100) + '%)'">
        </div>
    </div>
</div>

<div class="ui-tab-group__content">
    @for (tab of tabs; track $index) {
    <div class="ui-tab-group__panel" [class.ui-tab-group__panel--active]="activeTabIndex() === $index" role="tabpanel"
        *ngIf="activeTabIndex() === $index">
        <ng-container [ngTemplateOutlet]="tab.contentTemplate"></ng-container>
    </div>
    }
</div>